{% extends "base.html.twig" %}

{% block body %}
    <br/>

    {% for message in app.session.flashBag.get('error') %}
        <div class="flash-notice alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% if (data.status == 'green') %}

        <div class="row">
            <div class="col-md-7">
                <h4>{{ data.recipe.name|e }}</h4>
                <small>by: {{ data.recipe.author|capitalize|e }}</small>
                <span class="breadcrumb"> Preparation: {{ data.recipe.prep|e }} min</span>
                <span class="breadcrumb"> Cooking: {{ data.recipe.cook|e }} min</span>
            </div>
            <div class="col-md-5">
                <img src="{{ data.recipe.imageUrl }}" class="rounded float-left img-thumbnail" alt="{{ data.recipe.name|lower }}">
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Ingredient(s)</th>
                    <td>
                    {% for item in data.recipe.ingredient %}
                        <li>{{ item.quantity }} {{ item.unit }} {{ item.description }}</li>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Direction(s)</th>
                    <td>
                        {% for item in data.recipe.direction %}
                            <li>{{ item.description }}</li>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock body %}

